# Netscape HTTP Cookie File

webshare.zenya.work	FALSE	/	TRUE	0	AuthenticatedWebShare_****************	****************************************************************
webshare.zenya.work	FALSE	/	TRUE	0	UserLanguage	nl-NL
